<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Burger Shack</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
 
    {{{body}}}

<form id="createBurger">
    <h1>Add a burger to the menu!</h1>
  <textarea type="text" id="burgerName" name="burgerName" ></textarea><br>
  <input type="submit" value="Submit">
</form> 

<script src="./js/index.js"></script>
</body>
</html>