<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Burger Shack</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
         <header>
            <h1>Burger Shack</h1>
        </header>
        
        <div class="grid">
            {{{body}}}
        </div>

        <form id="createBurger">
            <h1>Add a burger to the menu!</h1>
            <textarea type="text" id="burgerName" name="burgerName" ></textarea><br>
            <input type="submit" value="Submit">
        </form> 
    </div>

<script src="./js/index.js"></script>
</body>
</html>