<div class="available">
<h1>Available To Order</h1>
{{#each burgers}}
{{#unless this.devoured}}
<h2>{{this.burgerName}}</h2> 
<button name="devourBtn" data-id="{{this.id}}">Devour</button>
{{/unless}}
{{/each}}
</div>

<div class="unavailable">
<h1>Out Of Stock</h1>
<div class="faded">
{{#each burgers}}
{{#if this.devoured}}
<input readonly value="{{this.burgerName}}"></input>
{{/if}}
{{/each}}
</div>
</div>